<!doctype html>
<html lang="ja" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Angularの練習</title>
  <script src="angular.min.js"></script>
  <script src="myscript.js"></script>
  <style>
    .even {
      background-color: #ccc;
    }
    .odd {
      background-color: red;
    }
  </style>
</head>
<body>
  <h1>AngularJSの練習</h1>
  <input type="text" ng-model="name">
  <P>こんにちは！{{name}}</P>
  <div ng-controller="mainCtrl">
    <p>{{users.length}}</p>
    <p>{{1000|number}}</p>
    <p>{{2000|currency}}</p>
    <p>{{today|date}}</p>
    <ul>
      <li ng-repeat="user in users|orderBy:'score'|limitTo:2">
        {{$index+1}} {{$first}} {{$last}} {{$middle}} {{user.name|uppercase}} {{user.score|number:4}}
      </li>
    </ul>
    <input type="text" ng-model="query.name">
    <ul>
      <li ng-repeat="user in users|filter:query" ng-class-even="'even'" ng-class-odd="'odd'" ng-controller="userItemCtrl">
        {{$index+1}} {{user.name}} {{user.score|number:4}}
        <button ng-click="increment()">+1</button>
      </li>
    </ul>
    <form novalidate name="myForm" ng-submit="addUser()">
      <p>Name:
        <input type="text" name="name" ng-model="user.name" required ng-minlength="5" ng-maxlength="8">
        <span ng-show="myForm.$error.required">Required!</span>
        <span ng-show="myForm.$error.minlength">Too short!</span>
        <span ng-show="myForm.$error.maxlength">Too long!</span>
      </p>
      <p><input type="submit" value="add"></p>
      <pre>{{user|json}}</pre><!-- for dubug -->
    </form>
  </div>
</body>
</html>
