<!doctype html>
<html lang="ja" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Angularの練習</title>
  <script src="http://code.angularjs.org/1.2.14/angular.min.js"></script>
  <script src="myscript.js"></script>
</head>
<body>
  <h1>AngularJSの練習</h1>
  <input type="text" ng-model="name">
  <P>こんにちは！{{name}}</P>
  <div ng-controller="mainCtrl">
    <p>{{users.length}}</p>
    <p>{{1000|number}}</p>
    <p>{{2000|currency}}</p>
    <p>{{today|date}}</p>
    <ul>
      <li ng-repeat="user in users">
        {{user.name|uppercase}} {{user.score|number:4}}
      </li>
    </ul>
  </div>
</body>
</html>
