<!doctype html>
<html lang="ja" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Angularの練習</title>
  <script src="http://code.angularjs.org/1.2.14/angular.min.js"></script>
  <script src="myscript.js"></script>
  <style>
    .even {
      background-color: #ccc;
    }
    .odd {
      background-color: red;
    }
  </style>
</head>
<body>
  <h1>AngularJSの練習</h1>
  <input type="text" ng-model="name">
  <P>こんにちは！{{name}}</P>
  <div ng-controller="mainCtrl">
    <p>{{users.length}}</p>
    <p>{{1000|number}}</p>
    <p>{{2000|currency}}</p>
    <p>{{today|date}}</p>
    <ul>
      <li ng-repeat="user in users|orderBy:'score'|limitTo:2">
        {{$index+1}} {{$first}} {{$last}} {{$middle}} {{user.name|uppercase}} {{user.score|number:4}}
      </li>
    </ul>
    <input type="text" ng-model="query.name">
    <ul>
      <li ng-repeat="user in users|filter:query" ng-class-even="'even'" ng-class-odd="'odd'" ng-controller="userItemCtrl">
        {{$index+1}} {{user.name}} {{user.score|number:4}}
        <button ng-click="increment()">+1</button>
      </li>
    </ul>
  </div>
</body>
</html>
